// next.config.js
module.exports = {
  webpack(config, { isServer }) {
    // To disable webpack compilation logs
    config.stats = 'errors-only';

    // Optionally, you can also disable server logs
    if (isServer) {
      config.stats = 'errors-only';
    }

    return config;
  },
  devServer: {
    // To suppress the "ready" log
    writeToDisk: false,
  },
};
